body {
    background-color: #fff;
    margin: 0; /* Loại bỏ margin mặc định */
    padding: 0; /* Loại bỏ padding mặc định */
    font-family: Arial, sans-serif; /* Chọn font chung cho trang web */
    padding-left: 50px;
    padding-right: 50px;
    
 }
 .container {
    display: flex;
 }

.column2 li{
   list-style-type: none;
}
 a:hover{
    color: #f204049e;
    
    
 }
 /* Tùy chỉnh kiểu dáng cho class article */
 .column2{
    flex: 2;
 }
 .column1{
    flex: 1;
 }
 .column2 section{
    margin-left: 0;
 }
.column2 a{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    color: #111111;

    display: -webkit-box;            /* Hiển thị phần tử dưới dạng box */
    -webkit-line-clamp: 2;          /* Giới hạn số dòng là 3 */
    -webkit-box-orient: vertical;   /* Hiển thị dọc theo chiều dọc */
    overflow: hidden;               /* Ẩn phần nội dung vượt quá */
    text-overflow: ellipsis;                /* Giới hạn chiều rộng tối đa của phần tử */
    
}
h4 {
    text-align: center;
}
.column2 h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.article {
   padding: 10px;
   border-bottom: 1px solid rgba(77, 74, 74, 0.47);
   border-left: 1px solid rgb(17, 16, 16);
}
.article-content {
    display: -webkit-box;            /* Hiển thị phần tử dưới dạng box */
    -webkit-line-clamp: 3;          /* Giới hạn số dòng là 3 */
    -webkit-box-orient: vertical;   /* Hiển thị dọc theo chiều dọc */
    overflow: hidden;               /* Ẩn phần nội dung vượt quá */
    text-overflow: ellipsis;                /* Giới hạn chiều rộng tối đa của phần tử */
}


/* Tùy chỉnh kiểu dáng cho class article-title */
.article-title {
    font-size: 24px; /* Kích thước font cho tiêu đề */
    font-weight: bold; /* Đậm */
    text-decoration: none; /* Loại bỏ gạch chân cho tất cả các thẻ a */
    color: #0a0b0b; /* Đổi màu cho liên kết (nếu cần) */
    
}

/* Tùy chỉnh kiểu dáng cho class article-content */

/* Phần CSS cho phân trang */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.step-links {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.step-links a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    text-decoration: none;
    color: #333;
}

.step-links a:hover {
    background-color: #ddd;
}

.current-page {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

/* Ẩn các liên kết tiến và lùi nếu không có trang tiền hoặc sau */
.step-links a[disabled] {
    display: none;
}

.horizontal-list {
    list-style-type: square; /* Đặt giá trị "square" cho dấu chấm danh sách */
    margin: 3px;
    display: flex; /* Sử dụng hiển thị flex để các phần tử con hiển thị theo chiều ngang */
}

.horizontal-list li {
    
    color: rgb(255, 0, 0); /* Màu cho dấu chấm */
    margin-right: 10px; /* Khoảng cách giữa các phần tử trong danh sách */
    padding-right: 20px;
}
.horizontal-list a {
    text-decoration: none; /* Bỏ gạch dưới cho thẻ <a> trong danh sách */
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #000;
   
}
.LinkSlide {
    border-bottom: 1px solid #C3D0E0 ;
    margin-top: 1px; 
    margin-bottom: 15px;
   
}
  /*-------------- CSS mapppppp -------------*/
  .column1 h3{
    padding: 5px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #182940;
    background-color: #7a828d93;
    margin-left: 20px; 
 
 }
 .column1{
    right: 0;
 }
 #map {
    width: 100%;
    height: 350px;
    margin-left: 20px;
    padding-left: 20px;
    padding: 0;
 }
 .custom-marker {
 width: 5px;
 height: 5px;
 border-radius: 50%;
 background-color: rgba(201, 56, 30, 0.734); /* Thay đổi màu sắc tại đây */
 border: 2px solid rgb(2, 31, 52);
 }
/*---------- mùa vụ----------- */
table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
    width: 100px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #F0F0F0;
    padding: 10px;
}
.clum3{
    width: 210px;
}
.conten{
    font-weight: bold;
}

